html{
        background: url(https://images6.alphacoders.com/132/1322314.jpeg); /* Fondo amarillo claro */
        background-size: cover;
}

body {
    font-family: Verdana, Arial, sans-serif; /* Formato de letra */
    text-align: center; /* Centrar contenido */
    margin: 0;
    padding: 0; /* Corregido */
}
h1,h2,p{
    font-family:"Playfair+Display" , serif ;
}

.image {
    border: 5px solid green;
    border-radius: 10px;
    height: 400px;
}

.link-button {
    text-decoration: none;
    color: black;
    border: 1px solid gray;
    background-color: #f2f2f2;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 3px #888888;
}
